In [ ]:
#grouped_df = df.groupby("city").sum()
!pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.2.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
Installing collected packages: pandas
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
cudf-cu12 24.10.1 requires pandas<2.2.3dev0,>=2.0, but you have pandas 2.2.3 which is incompatible.
google-colab 1.0.0 requires pandas==2.2.2, but you have pandas 2.2.3 which is incompatible.
Successfully installed pandas-2.2.3

In [36]:
import pandas as pd
from geopy.geocoders import GoogleV3
from pandas import json_normalize

In [37]:
#data = pd.read_json('/content/drive/MyDrive/Dataset/data.json')
data = pd.read_json('/content/data.json')
df = pd.DataFrame(data)

In [38]:
#df.to_csv('data.csv', index = False)

In [39]:
df.columns

Index(['doctor', 'clinic', 'clinicMobile', 'location', 'address', 'kiosk',
       'monthWiseCounts', 'diseaseWiseMonthCount', 'activeInLast7Days'],
      dtype='object')

In [40]:
#df = df.drop(columns = ['doctor', 'clinic', 'clinicMobile', 'kiosk','activeInLast7Days'])

In [41]:
api_key = 'AIzaSyAjT_SMBAWzPJgU3rskSl8kXGE1QE0hGY8'
geolocator = GoogleV3(api_key=api_key)

In [42]:
def get_city_from_address(address):
    location = geolocator.geocode(address)
    if location:
        address_components = location.raw.get('address_components', [])
        for component in address_components:
            if 'locality' in component['types']:
                return component['long_name']
        return location.address
    else:
        return None

In [43]:
df['city'] = df['address'].apply(get_city_from_address)

In [44]:
df['city'].fillna(df['address'], inplace=True)

<ipython-input-44-939fa17fa14b>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['city'].fillna(df['address'], inplace=True)

In [45]:
df.head()

,doctor,clinic,clinicMobile,location,address,kiosk,monthWiseCounts,diseaseWiseMonthCount,activeInLast7Days,city
0,chief dentist name,Your Clinic Name,+917840001315,,"Office 1102, Montvert Office Spaces, Opp to Na...",Test kiosk,"[{'month': 'October 2024', 'count': 221}, {'mo...","[{'month': 'October 2024', 'diseaseWiseCount':...",False,Pune
1,chief dentist name,Your Clinic Name,+917840001315,,"Office 1102, Montvert Office Spaces, Opp to Na...",Kiosk,"[{'month': 'October 2024', 'count': 0}, {'mont...",[],False,Pune
2,vidhi bhanushali,Dentaldost Office,7507242121,pune,"Baner ,Pune",test,"[{'month': 'October 2024', 'count': 2}, {'mont...","[{'month': 'October 2024', 'diseaseWiseCount':...",False,Pune
3,dr. shashikiran nd,Krishna Institute of Dental Sciences,9630070092,karad,Karad,Kiosk-Karad,"[{'month': 'October 2024', 'count': 341}, {'mo...","[{'month': 'October 2024', 'diseaseWiseCount':...",False,Karad
4,dr. mitul patel,Riddhi Dental Hospital,9157780000,navsari,Navsari,Kiosk-Navsari,"[{'month': 'October 2024', 'count': 0}, {'mont...",[],False,Navsari

In [46]:
df.isna().sum()

doctor                   0
clinic                   0
clinicMobile             0
location                 0
address                  0
kiosk                    0
monthWiseCounts          0
diseaseWiseMonthCount    0
activeInLast7Days        0
city                     0
dtype: int64

In [47]:
def get_state_from_city(city):
    location = geolocator.geocode(city)
    if location:
        address_components = location.raw.get('address_components', [])
        for component in address_components:
            if 'administrative_area_level_1' in component['types']:
                return component['long_name']
        return location.address
    return None

In [48]:
df['state'] = df['city'].apply(get_state_from_city)

In [49]:
df.head()

,doctor,clinic,clinicMobile,location,address,kiosk,monthWiseCounts,diseaseWiseMonthCount,activeInLast7Days,city,state
0,chief dentist name,Your Clinic Name,+917840001315,,"Office 1102, Montvert Office Spaces, Opp to Na...",Test kiosk,"[{'month': 'October 2024', 'count': 221}, {'mo...","[{'month': 'October 2024', 'diseaseWiseCount':...",False,Pune,Maharashtra
1,chief dentist name,Your Clinic Name,+917840001315,,"Office 1102, Montvert Office Spaces, Opp to Na...",Kiosk,"[{'month': 'October 2024', 'count': 0}, {'mont...",[],False,Pune,Maharashtra
2,vidhi bhanushali,Dentaldost Office,7507242121,pune,"Baner ,Pune",test,"[{'month': 'October 2024', 'count': 2}, {'mont...","[{'month': 'October 2024', 'diseaseWiseCount':...",False,Pune,Maharashtra
3,dr. shashikiran nd,Krishna Institute of Dental Sciences,9630070092,karad,Karad,Kiosk-Karad,"[{'month': 'October 2024', 'count': 341}, {'mo...","[{'month': 'October 2024', 'diseaseWiseCount':...",False,Karad,Maharashtra
4,dr. mitul patel,Riddhi Dental Hospital,9157780000,navsari,Navsari,Kiosk-Navsari,"[{'month': 'October 2024', 'count': 0}, {'mont...",[],False,Navsari,Gujarat

In [50]:
df['city'].unique()

array(['Pune', 'Karad', 'Navsari', 'Rajamahendravaram', 'Ahmedabad',
       'Thanjavur', 'Puducherry', 'Amritsar', 'Tiruvannamalai', 'Indore',
       'Vizianagaram', 'Kolkata', 'Bathinda', 'Jamshedpur',
       'Secunderabad', 'Cheyyar', 'Thiruvananthapuram', 'Karur',
       'Hubballi', 'Dharwad', 'Guwahati', 'Siddipet', 'Tirunelveli',
       'Jalandhar', 'Hyderabad', 'Imphal', 'Bhimeshwara', 'Madhavaram',
       'Chittoor', 'Vijayawada', 'Dhamtari', 'Chennai', 'Lunawada',
       'Theni', 'Nagpur', 'Kochi', 'Srikakulam', 'Gujarat, India',
       'Jharkhand, India', 'Sangamner', 'Surat', 'Vadodara',
       'Melmaruvathur', 'Kalyan', 'Navi Mumbai', 'Palakkad', 'Dasau',
       'Bhiwani', 'Ludhiana', 'Balotra', 'Jayant', 'Jabalpur', 'Katni',
       'Hosur', 'Vellore', 'Guntur', 'Nimbahera', 'Rohtak', 'Mangaluru',
       'Bharatpur', 'Rajnandgaon', 'Bahadurgarh', 'Krishnapuram Colony',
       'Kozhikode', 'Sursand Pashchimi', 'Korba', 'Morbi', 'NE 3, India',
       'Kondapur', 'Bengaluru', 'Hassan', 'Tenkasi', 'Agampur',
       'Avalahalli', 'Gandhigramam', 'Chhatrapati Sambhaji Nagar',
       'Rajkot', 'Jaipur', 'Ranipet', 'Madurai', 'Coimbatore',
       'Chidambaram', 'Udaipur', 'Mumbai', 'Salem',
       'Razole, Andhra Pradesh, India', 'Baramati', 'Bhavnagar', 'Dubai',
       'Avadi', 'Kanpur', 'Meerpet', 'Srinagar', 'Gurugram',
       'Visakhapatnam', 'Ghaziabad', 'Sadashivpet', 'Palakollu',
       'Gargoti', 'Delhi', 'Nellore', 'Pakur', 'Tiruchirappalli',
       'New Delhi', 'Sri Vijaya Puram', 'Lusaka', 'Sindagi', 'Hazaribagh',
       'Shahdol', 'Bokaro Steel City', 'Thekkalur', 'Baga', 'Cuttack',
       'Raipur', 'Vadakuthu', 'Agra', 'Karaikudi', 'Tumakuru',
       'Bijainagar'], dtype=object)

In [51]:
df.drop(columns=['address','location'], inplace=True)

In [52]:
df['city'].nunique()

119

In [53]:
df.head()

,doctor,clinic,clinicMobile,kiosk,monthWiseCounts,diseaseWiseMonthCount,activeInLast7Days,city,state
0,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,"[{'month': 'October 2024', 'count': 221}, {'mo...","[{'month': 'October 2024', 'diseaseWiseCount':...",False,Pune,Maharashtra
1,chief dentist name,Your Clinic Name,+917840001315,Kiosk,"[{'month': 'October 2024', 'count': 0}, {'mont...",[],False,Pune,Maharashtra
2,vidhi bhanushali,Dentaldost Office,7507242121,test,"[{'month': 'October 2024', 'count': 2}, {'mont...","[{'month': 'October 2024', 'diseaseWiseCount':...",False,Pune,Maharashtra
3,dr. shashikiran nd,Krishna Institute of Dental Sciences,9630070092,Kiosk-Karad,"[{'month': 'October 2024', 'count': 341}, {'mo...","[{'month': 'October 2024', 'diseaseWiseCount':...",False,Karad,Maharashtra
4,dr. mitul patel,Riddhi Dental Hospital,9157780000,Kiosk-Navsari,"[{'month': 'October 2024', 'count': 0}, {'mont...",[],False,Navsari,Gujarat

In [54]:
df.columns

Index(['doctor', 'clinic', 'clinicMobile', 'kiosk', 'monthWiseCounts',
       'diseaseWiseMonthCount', 'activeInLast7Days', 'city', 'state'],
      dtype='object')

In [55]:
month_wise = df.explode('monthWiseCounts').reset_index(drop=True)
month_wise_data = pd.concat([month_wise.drop(['monthWiseCounts'], axis=1), month_wise['monthWiseCounts'].apply(pd.Series)], axis=1)

In [56]:
df = pd.DataFrame(month_wise_data)

In [57]:
df.head()

,doctor,clinic,clinicMobile,kiosk,diseaseWiseMonthCount,activeInLast7Days,city,state,month,count
0,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,"[{'month': 'October 2024', 'diseaseWiseCount':...",False,Pune,Maharashtra,October 2024,221
1,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,"[{'month': 'October 2024', 'diseaseWiseCount':...",False,Pune,Maharashtra,September 2024,265
2,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,"[{'month': 'October 2024', 'diseaseWiseCount':...",False,Pune,Maharashtra,August 2024,361
3,chief dentist name,Your Clinic Name,+917840001315,Kiosk,[],False,Pune,Maharashtra,October 2024,0
4,chief dentist name,Your Clinic Name,+917840001315,Kiosk,[],False,Pune,Maharashtra,September 2024,0

In [58]:
disease_wise = df.explode('diseaseWiseMonthCount').reset_index(drop=True)
disease_wise_data = pd.concat([disease_wise.drop(['diseaseWiseMonthCount'], axis=1), month_wise['monthWiseCounts'].apply(pd.Series)], axis=1)

In [59]:
df = pd.DataFrame(disease_wise_data)

In [60]:
df.head()

,doctor,clinic,clinicMobile,kiosk,activeInLast7Days,city,state,month,count,month,count
0,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,False,Pune,Maharashtra,October 2024,221,October 2024,221.0
1,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,False,Pune,Maharashtra,October 2024,221,September 2024,265.0
2,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,False,Pune,Maharashtra,October 2024,221,August 2024,361.0
3,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,False,Pune,Maharashtra,October 2024,221,October 2024,0.0
4,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,False,Pune,Maharashtra,September 2024,265,September 2024,0.0

In [61]:
def rename_duplicate_month(column):
    counts = {}
    new_column = []
    for col in column:
        if col in counts:
            counts[col] += 1
            new_column.append(f"monthWise{col}")
        else:
            counts[col] = 0
            new_column.append(col)
    return new_column

In [62]:
df.columns = rename_duplicate_month(df.columns)

In [63]:
df.head()

,doctor,clinic,clinicMobile,kiosk,activeInLast7Days,city,state,month,count,monthWisemonth,monthWisecount
0,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,False,Pune,Maharashtra,October 2024,221,October 2024,221.0
1,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,False,Pune,Maharashtra,October 2024,221,September 2024,265.0
2,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,False,Pune,Maharashtra,October 2024,221,August 2024,361.0
3,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,False,Pune,Maharashtra,October 2024,221,October 2024,0.0
4,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,False,Pune,Maharashtra,September 2024,265,September 2024,0.0

In [64]:
diseaseWiseCount = df['monthWisecount'].rename('diseaseWiseCount')
diseaseWiseCount = pd.DataFrame(diseaseWiseCount)
df = pd.concat([df, diseaseWiseCount], axis=1)
df = df.drop(columns=["monthWisecount"])

In [65]:
diseaseWiseMonth = df['monthWisemonth'].rename('diseaseWiseMonth')
diseaseWiseMonths = pd.DataFrame(diseaseWiseMonth)
df = pd.concat([df, diseaseWiseMonths], axis=1)
df = df.drop(columns=["monthWisemonth"])

In [66]:
df.head()

,doctor,clinic,clinicMobile,kiosk,activeInLast7Days,city,state,month,count,diseaseWiseCount,diseaseWiseMonth
0,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,False,Pune,Maharashtra,October 2024,221,221.0,October 2024
1,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,False,Pune,Maharashtra,October 2024,221,265.0,September 2024
2,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,False,Pune,Maharashtra,October 2024,221,361.0,August 2024
3,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,False,Pune,Maharashtra,October 2024,221,0.0,October 2024
4,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,False,Pune,Maharashtra,September 2024,265,0.0,September 2024

In [67]:
df.isna().sum()

doctor                 0
clinic                 0
clinicMobile           0
kiosk                  0
activeInLast7Days      0
city                   0
state                 24
month                  0
count                  0
diseaseWiseCount     714
diseaseWiseMonth     714
dtype: int64

In [68]:
df.head()

,doctor,clinic,clinicMobile,kiosk,activeInLast7Days,city,state,month,count,diseaseWiseCount,diseaseWiseMonth
0,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,False,Pune,Maharashtra,October 2024,221,221.0,October 2024
1,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,False,Pune,Maharashtra,October 2024,221,265.0,September 2024
2,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,False,Pune,Maharashtra,October 2024,221,361.0,August 2024
3,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,False,Pune,Maharashtra,October 2024,221,0.0,October 2024
4,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,False,Pune,Maharashtra,September 2024,265,0.0,September 2024

In [69]:
df.columns

Index(['doctor', 'clinic', 'clinicMobile', 'kiosk', 'activeInLast7Days',
       'city', 'state', 'month', 'count', 'diseaseWiseCount',
       'diseaseWiseMonth'],
      dtype='object')

In [70]:
df = df[['city', 'state', 'month', 'count', 'diseaseWiseCount', 'diseaseWiseMonth']]

In [71]:
df.head()

   city        state           month  count  diseaseWiseCount diseaseWiseMonth
0  Pune  Maharashtra    October 2024    221             221.0     October 2024
1  Pune  Maharashtra    October 2024    221             265.0   September 2024
2  Pune  Maharashtra    October 2024    221             361.0      August 2024
3  Pune  Maharashtra    October 2024    221               0.0     October 2024
4  Pune  Maharashtra  September 2024    265               0.0   September 2024

In [72]:
df.shape

(1326, 6)

In [73]:
df['diseaseWiseCount'].fillna(0, inplace=True)
df['diseaseWiseMonth'].fillna(0, inplace=True)

<ipython-input-73-5fba42e375b3>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['diseaseWiseCount'].fillna(0, inplace=True)
<ipython-input-73-5fba42e375b3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['diseaseWiseCount'].fillna(0, inplace=True)
<ipython-input-73-5fba42e375b3>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['diseaseWiseMonth'].fillna(0, inplace=True)
<ipython-input-73-5fba42e375b3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['diseaseWiseMonth'].fillna(0, inplace=True)

In [74]:
df['city'].shape

(1326,)

In [75]:
df.isna().sum()

city                 0
state               24
month                0
count                0
diseaseWiseCount     0
diseaseWiseMonth     0
dtype: int64

In [76]:
df_null = df.loc[df['state'].isnull()]
df_null

,city,state,month,count,diseaseWiseCount,diseaseWiseMonth
174,Bhimeshwara,None,October 2024,118,0.0,October 2024
175,Bhimeshwara,None,October 2024,118,0.0,September 2024
176,Bhimeshwara,None,October 2024,118,0.0,August 2024
177,Bhimeshwara,None,September 2024,142,0.0,October 2024
178,Bhimeshwara,None,September 2024,142,0.0,September 2024
179,Bhimeshwara,None,September 2024,142,0.0,August 2024
180,Bhimeshwara,None,August 2024,72,0.0,October 2024
181,Bhimeshwara,None,August 2024,72,0.0,September 2024
182,Bhimeshwara,None,August 2024,72,0.0,August 2024
375,Dasau,None,October 2024,94,0.0,October 2024
376,Dasau,None,October 2024,94,0.0,September 2024
377,Dasau,None,October 2024,94,1.0,August 2024
378,Dasau,None,October 2024,94,15.0,October 2024
379,Dasau,None,September 2024,94,5.0,September 2024
380,Dasau,None,September 2024,94,9.0,August 2024
381,Dasau,None,September 2024,94,8.0,October 2024
382,Dasau,None,September 2024,94,186.0,September 2024
383,Dasau,None,August 2024,123,808.0,August 2024
384,Dasau,None,August 2024,123,0.0,October 2024
385,Dasau,None,August 2024,123,16.0,September 2024
386,Dasau,None,August 2024,123,19.0,August 2024
411,Jayant,None,October 2024,0,36.0,October 2024
412,Jayant,None,September 2024,0,412.0,September 2024
413,Jayant,None,August 2024,0,872.0,August 2024

In [77]:
df.isna().sum()

city                 0
state               24
month                0
count                0
diseaseWiseCount     0
diseaseWiseMonth     0
dtype: int64

In [78]:
def check_null_state(state):
  if state == None:
    return 'Unknown'
  else:
    return state

In [79]:
df['state'] = df['state'].apply(check_null_state)

In [80]:
df.isna().sum()

city                0
state               0
month               0
count               0
diseaseWiseCount    0
diseaseWiseMonth    0
dtype: int64

In [81]:
df.to_csv('data.csv', index = False)

In [82]:
df.head()

   city        state           month  count  diseaseWiseCount diseaseWiseMonth
0  Pune  Maharashtra    October 2024    221             221.0     October 2024
1  Pune  Maharashtra    October 2024    221             265.0   September 2024
2  Pune  Maharashtra    October 2024    221             361.0      August 2024
3  Pune  Maharashtra    October 2024    221               0.0     October 2024
4  Pune  Maharashtra  September 2024    265               0.0   September 2024

# Disease wise data

In [83]:
#data = pd.read_json('/content/drive/MyDrive/Dataset/data.json')
data = pd.read_json('/content/data.json')
disease = pd.DataFrame(data)

In [84]:
disease.head()

,doctor,clinic,clinicMobile,location,address,kiosk,monthWiseCounts,diseaseWiseMonthCount,activeInLast7Days
0,chief dentist name,Your Clinic Name,+917840001315,,"Office 1102, Montvert Office Spaces, Opp to Na...",Test kiosk,"[{'month': 'October 2024', 'count': 221}, {'mo...","[{'month': 'October 2024', 'diseaseWiseCount':...",False
1,chief dentist name,Your Clinic Name,+917840001315,,"Office 1102, Montvert Office Spaces, Opp to Na...",Kiosk,"[{'month': 'October 2024', 'count': 0}, {'mont...",[],False
2,vidhi bhanushali,Dentaldost Office,7507242121,pune,"Baner ,Pune",test,"[{'month': 'October 2024', 'count': 2}, {'mont...","[{'month': 'October 2024', 'diseaseWiseCount':...",False
3,dr. shashikiran nd,Krishna Institute of Dental Sciences,9630070092,karad,Karad,Kiosk-Karad,"[{'month': 'October 2024', 'count': 341}, {'mo...","[{'month': 'October 2024', 'diseaseWiseCount':...",False
4,dr. mitul patel,Riddhi Dental Hospital,9157780000,navsari,Navsari,Kiosk-Navsari,"[{'month': 'October 2024', 'count': 0}, {'mont...",[],False

In [85]:
disease.columns

Index(['doctor', 'clinic', 'clinicMobile', 'location', 'address', 'kiosk',
       'monthWiseCounts', 'diseaseWiseMonthCount', 'activeInLast7Days'],
      dtype='object')

In [86]:
disease = disease[['location', 'address','diseaseWiseMonthCount']]

In [87]:
disease.head()

,location,address,diseaseWiseMonthCount
0,,"Office 1102, Montvert Office Spaces, Opp to Na...","[{'month': 'October 2024', 'diseaseWiseCount':..."
1,,"Office 1102, Montvert Office Spaces, Opp to Na...",[]
2,pune,"Baner ,Pune","[{'month': 'October 2024', 'diseaseWiseCount':..."
3,karad,Karad,"[{'month': 'October 2024', 'diseaseWiseCount':..."
4,navsari,Navsari,[]

In [88]:
def get_city_from_address(address):
    location = geolocator.geocode(address)
    if location:
        address_components = location.raw.get('address_components', [])
        for component in address_components:
            if 'locality' in component['types']:
                return component['long_name']
        return location.address
    else:
        return None

In [89]:
disease['city'] = disease['address'].apply(get_city_from_address)

In [90]:
disease['city'].fillna(disease['address'], inplace=True)

<ipython-input-90-3b0b8d12c5cc>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  disease['city'].fillna(disease['address'], inplace=True)

In [91]:
disease.head()

,location,address,diseaseWiseMonthCount,city
0,,"Office 1102, Montvert Office Spaces, Opp to Na...","[{'month': 'October 2024', 'diseaseWiseCount':...",Pune
1,,"Office 1102, Montvert Office Spaces, Opp to Na...",[],Pune
2,pune,"Baner ,Pune","[{'month': 'October 2024', 'diseaseWiseCount':...",Pune
3,karad,Karad,"[{'month': 'October 2024', 'diseaseWiseCount':...",Karad
4,navsari,Navsari,[],Navsari

In [92]:
disease.drop(columns=['address'], inplace=True)

In [93]:
def get_state_from_city(city):
    location = geolocator.geocode(city)
    if location:
        address_components = location.raw.get('address_components', [])
        for component in address_components:
            if 'administrative_area_level_1' in component['types']:
                return component['long_name']
        return location.address
    return None

In [94]:
disease['state'] = disease['city'].apply(get_state_from_city)

In [95]:
disease.isna().sum()

location                 0
diseaseWiseMonthCount    0
city                     0
state                    3
dtype: int64

In [96]:
def check_null_state(state):
  if state == None:
    return 'Unknown'
  else:
    return state

In [97]:
disease['state'] = disease['state'].apply(check_null_state)

In [98]:
disease.isna().sum()

location                 0
diseaseWiseMonthCount    0
city                     0
state                    0
dtype: int64

In [99]:
disease.shape

(204, 4)

In [100]:
disease.head()

,location,diseaseWiseMonthCount,city,state
0,,"[{'month': 'October 2024', 'diseaseWiseCount':...",Pune,Maharashtra
1,,[],Pune,Maharashtra
2,pune,"[{'month': 'October 2024', 'diseaseWiseCount':...",Pune,Maharashtra
3,karad,"[{'month': 'October 2024', 'diseaseWiseCount':...",Karad,Maharashtra
4,navsari,[],Navsari,Gujarat

In [101]:
disease['diseaseWiseMonthCount'].head()

0    [{'month': 'October 2024', 'diseaseWiseCount':...
1                                                   []
2    [{'month': 'October 2024', 'diseaseWiseCount':...
3    [{'month': 'October 2024', 'diseaseWiseCount':...
4                                                   []
Name: diseaseWiseMonthCount, dtype: object

In [102]:
disease_wise_counts = pd.DataFrame(disease['diseaseWiseMonthCount'].to_list(), columns = ['oct_disease','sept_disease','aug_disease','july_disease'])

In [103]:
disease = pd.concat([disease, disease_wise_counts], axis=1)
disease.drop(columns=['diseaseWiseMonthCount'], inplace=True)

In [104]:
disease.head()

,location,city,state,oct_disease,sept_disease,aug_disease,july_disease
0,,Pune,Maharashtra,"{'month': 'October 2024', 'diseaseWiseCount': ...","{'month': 'September 2024', 'diseaseWiseCount'...","{'month': 'August 2024', 'diseaseWiseCount': {...","{'month': 'July 2024', 'diseaseWiseCount': {'I..."
1,,Pune,Maharashtra,None,None,None,None
2,pune,Pune,Maharashtra,"{'month': 'October 2024', 'diseaseWiseCount': ...",None,None,None
3,karad,Karad,Maharashtra,"{'month': 'October 2024', 'diseaseWiseCount': ...","{'month': 'September 2024', 'diseaseWiseCount'...","{'month': 'August 2024', 'diseaseWiseCount': {...",None
4,navsari,Navsari,Gujarat,None,None,None,None

In [105]:
oct_disease_expand = pd.json_normalize(disease['oct_disease'])
disease = pd.concat([disease, oct_disease_expand], axis=1)
disease.drop(columns=['oct_disease'], inplace=True)

In [106]:
sept_disease_expand = pd.json_normalize(disease['sept_disease'])
disease = pd.concat([disease, sept_disease_expand], axis=1)
disease.drop(columns=['sept_disease'], inplace=True)

In [107]:
aug_disease_expand = pd.json_normalize(disease['aug_disease'])
disease = pd.concat([disease, aug_disease_expand], axis=1)
disease.drop(columns=['aug_disease'], inplace=True)

In [108]:
july_disease_expand = pd.json_normalize(disease['july_disease'])
disease = pd.concat([disease, july_disease_expand], axis=1)
disease.drop(columns=['july_disease'], inplace=True)

In [109]:
disease.columns

Index(['location', 'city', 'state', 'month',
       'diseaseWiseCount.GROSSLY DECAYED', 'diseaseWiseCount.FILLING',
       'diseaseWiseCount.TOOTH_GAP', 'diseaseWiseCount.DEEP CARIES',
       'diseaseWiseCount.MALALIGNED', 'diseaseWiseCount.RECEDED GUMS',
       'diseaseWiseCount.ATTRITION', 'diseaseWiseCount.PIT AND FISSURE CARIES',
       'diseaseWiseCount.IMPACTED 3RD MOLAR / PERICORONITIS',
       'diseaseWiseCount.FRACTURE', 'diseaseWiseCount.CALCULUS',
       'diseaseWiseCount.CROWNS', 'diseaseWiseCount.INFLAMMED / RED GUMS',
       'diseaseWiseCount.MISSING TOOTH', 'diseaseWiseCount.DIASTEMA',
       'diseaseWiseCount.STAINS', 'diseaseWiseCount.ROOT STUMP',
       'diseaseWiseCount.BRACES',
       'diseaseWiseCount.DEFECTIVE / PARTIAL TREATMENT',
       'diseaseWiseCount.APPLIANCES', 'month', 'diseaseWiseCount.DEEP CARIES',
       'diseaseWiseCount.ROOT STUMP',
       'diseaseWiseCount.PIT AND FISSURE CARIES',
       'diseaseWiseCount.MALALIGNED',
       'diseaseWiseCount.IMPACTED 3RD MOLAR / PERICORONITIS',
       'diseaseWiseCount.FILLING', 'diseaseWiseCount.DIASTEMA',
       'diseaseWiseCount.CROWNS', 'diseaseWiseCount.STAINS',
       'diseaseWiseCount.ATTRITION', 'diseaseWiseCount.TOOTH_GAP',
       'diseaseWiseCount.CALCULUS', 'diseaseWiseCount.GROSSLY DECAYED',
       'diseaseWiseCount.MISSING TOOTH', 'diseaseWiseCount.FRACTURE', 'month',
       'diseaseWiseCount.GROSSLY DECAYED', 'diseaseWiseCount.FILLING',
       'diseaseWiseCount.DEEP CARIES', 'diseaseWiseCount.MALALIGNED',
       'diseaseWiseCount.FRACTURE', 'diseaseWiseCount.TOOTH_GAP',
       'diseaseWiseCount.CALCULUS', 'diseaseWiseCount.ROOT STUMP',
       'diseaseWiseCount.MISSING TOOTH',
       'diseaseWiseCount.PIT AND FISSURE CARIES', 'diseaseWiseCount.DIASTEMA',
       'diseaseWiseCount.STAINS',
       'diseaseWiseCount.IMPACTED 3RD MOLAR / PERICORONITIS',
       'diseaseWiseCount.ATTRITION', 'diseaseWiseCount.CROWNS', 'month',
       'diseaseWiseCount.IMPACTED 3RD MOLAR / PERICORONITIS',
       'diseaseWiseCount.ATTRITION', 'diseaseWiseCount.MALALIGNED',
       'diseaseWiseCount.STAINS', 'diseaseWiseCount.CALCULUS',
       'diseaseWiseCount.FILLING', 'diseaseWiseCount.TOOTH_GAP',
       'diseaseWiseCount.PIT AND FISSURE CARIES', 'diseaseWiseCount.FRACTURE',
       'diseaseWiseCount.CROWNS', 'diseaseWiseCount.DIASTEMA',
       'diseaseWiseCount.ROOT STUMP', 'diseaseWiseCount.MISSING TOOTH',
       'diseaseWiseCount.DEEP CARIES', 'diseaseWiseCount.GROSSLY DECAYED'],
      dtype='object')

In [110]:
grouped_col = disease.groupby(disease.columns, axis=1)
df_merged = grouped_col.sum()
disease = pd.DataFrame(df_merged)

<ipython-input-110-211ecd597f1d>:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  grouped_col = disease.groupby(disease.columns, axis=1)

In [111]:
disease.head()

,city,diseaseWiseCount.APPLIANCES,diseaseWiseCount.ATTRITION,diseaseWiseCount.BRACES,diseaseWiseCount.CALCULUS,diseaseWiseCount.CROWNS,diseaseWiseCount.DEEP CARIES,diseaseWiseCount.DEFECTIVE / PARTIAL TREATMENT,diseaseWiseCount.DIASTEMA,diseaseWiseCount.FILLING,...,diseaseWiseCount.MALALIGNED,diseaseWiseCount.MISSING TOOTH,diseaseWiseCount.PIT AND FISSURE CARIES,diseaseWiseCount.RECEDED GUMS,diseaseWiseCount.ROOT STUMP,diseaseWiseCount.STAINS,diseaseWiseCount.TOOTH_GAP,location,month,state
0,Pune,0.0,604.0,0.0,390.0,90.0,118.0,0.0,282.0,272.0,...,906.0,28.0,721.0,7.0,8.0,900.0,168.0,,October 2024September 2024August 2024July 2024,Maharashtra
1,Pune,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,0,Maharashtra
2,Pune,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,pune,October 2024,Maharashtra
3,Karad,0.0,241.0,1.0,59.0,106.0,27.0,0.0,120.0,121.0,...,555.0,150.0,189.0,0.0,38.0,286.0,95.0,karad,October 2024September 2024August 2024,Maharashtra
4,Navsari,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,navsari,0,Gujarat

In [112]:
disease.columns

Index(['city', 'diseaseWiseCount.APPLIANCES', 'diseaseWiseCount.ATTRITION',
       'diseaseWiseCount.BRACES', 'diseaseWiseCount.CALCULUS',
       'diseaseWiseCount.CROWNS', 'diseaseWiseCount.DEEP CARIES',
       'diseaseWiseCount.DEFECTIVE / PARTIAL TREATMENT',
       'diseaseWiseCount.DIASTEMA', 'diseaseWiseCount.FILLING',
       'diseaseWiseCount.FRACTURE', 'diseaseWiseCount.GROSSLY DECAYED',
       'diseaseWiseCount.IMPACTED 3RD MOLAR / PERICORONITIS',
       'diseaseWiseCount.INFLAMMED / RED GUMS', 'diseaseWiseCount.MALALIGNED',
       'diseaseWiseCount.MISSING TOOTH',
       'diseaseWiseCount.PIT AND FISSURE CARIES',
       'diseaseWiseCount.RECEDED GUMS', 'diseaseWiseCount.ROOT STUMP',
       'diseaseWiseCount.STAINS', 'diseaseWiseCount.TOOTH_GAP', 'location',
       'month', 'state'],
      dtype='object')

In [113]:
disease.head()

,city,diseaseWiseCount.APPLIANCES,diseaseWiseCount.ATTRITION,diseaseWiseCount.BRACES,diseaseWiseCount.CALCULUS,diseaseWiseCount.CROWNS,diseaseWiseCount.DEEP CARIES,diseaseWiseCount.DEFECTIVE / PARTIAL TREATMENT,diseaseWiseCount.DIASTEMA,diseaseWiseCount.FILLING,...,diseaseWiseCount.MALALIGNED,diseaseWiseCount.MISSING TOOTH,diseaseWiseCount.PIT AND FISSURE CARIES,diseaseWiseCount.RECEDED GUMS,diseaseWiseCount.ROOT STUMP,diseaseWiseCount.STAINS,diseaseWiseCount.TOOTH_GAP,location,month,state
0,Pune,0.0,604.0,0.0,390.0,90.0,118.0,0.0,282.0,272.0,...,906.0,28.0,721.0,7.0,8.0,900.0,168.0,,October 2024September 2024August 2024July 2024,Maharashtra
1,Pune,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,0,Maharashtra
2,Pune,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,pune,October 2024,Maharashtra
3,Karad,0.0,241.0,1.0,59.0,106.0,27.0,0.0,120.0,121.0,...,555.0,150.0,189.0,0.0,38.0,286.0,95.0,karad,October 2024September 2024August 2024,Maharashtra
4,Navsari,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,navsari,0,Gujarat

In [114]:
disease.shape

(204, 24)

In [115]:
disease.isna().sum()

city                                                   0
diseaseWiseCount.APPLIANCES                            0
diseaseWiseCount.ATTRITION                             0
diseaseWiseCount.BRACES                                0
diseaseWiseCount.CALCULUS                              0
diseaseWiseCount.CROWNS                                0
diseaseWiseCount.DEEP CARIES                           0
diseaseWiseCount.DEFECTIVE / PARTIAL TREATMENT         0
diseaseWiseCount.DIASTEMA                              0
diseaseWiseCount.FILLING                               0
diseaseWiseCount.FRACTURE                              0
diseaseWiseCount.GROSSLY DECAYED                       0
diseaseWiseCount.IMPACTED 3RD MOLAR / PERICORONITIS    0
diseaseWiseCount.INFLAMMED / RED GUMS                  0
diseaseWiseCount.MALALIGNED                            0
diseaseWiseCount.MISSING TOOTH                         0
diseaseWiseCount.PIT AND FISSURE CARIES                0
diseaseWiseCount.RECEDED GUMS                          0
diseaseWiseCount.ROOT STUMP                            0
diseaseWiseCount.STAINS                                0
diseaseWiseCount.TOOTH_GAP                             0
location                                               0
month                                                  0
state                                                  0
dtype: int64

In [116]:
disease.to_csv('disease_data.csv', index = False)

# city wise disease

In [170]:
data = pd.read_json('/content/data.json')
city = pd.DataFrame(data)

In [171]:
city.head()

,doctor,clinic,clinicMobile,location,address,kiosk,monthWiseCounts,diseaseWiseMonthCount,activeInLast7Days
0,chief dentist name,Your Clinic Name,+917840001315,,"Office 1102, Montvert Office Spaces, Opp to Na...",Test kiosk,"[{'month': 'October 2024', 'count': 221}, {'mo...","[{'month': 'October 2024', 'diseaseWiseCount':...",False
1,chief dentist name,Your Clinic Name,+917840001315,,"Office 1102, Montvert Office Spaces, Opp to Na...",Kiosk,"[{'month': 'October 2024', 'count': 0}, {'mont...",[],False
2,vidhi bhanushali,Dentaldost Office,7507242121,pune,"Baner ,Pune",test,"[{'month': 'October 2024', 'count': 2}, {'mont...","[{'month': 'October 2024', 'diseaseWiseCount':...",False
3,dr. shashikiran nd,Krishna Institute of Dental Sciences,9630070092,karad,Karad,Kiosk-Karad,"[{'month': 'October 2024', 'count': 341}, {'mo...","[{'month': 'October 2024', 'diseaseWiseCount':...",False
4,dr. mitul patel,Riddhi Dental Hospital,9157780000,navsari,Navsari,Kiosk-Navsari,"[{'month': 'October 2024', 'count': 0}, {'mont...",[],False

In [172]:
def get_city_from_address(address):
    location = geolocator.geocode(address)
    if location:
        address_components = location.raw.get('address_components', [])
        for component in address_components:
            if 'locality' in component['types']:
                return component['long_name']
        return location.address
    else:
        return None

In [173]:
city['city'] = city['address'].apply(get_city_from_address)

In [174]:
city['city'].fillna(city['address'], inplace=True)

<ipython-input-174-8e9d272d9078>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  city['city'].fillna(city['address'], inplace=True)

In [175]:
def get_state_from_city(city):
    location = geolocator.geocode(city)
    if location:
        address_components = location.raw.get('address_components', [])
        for component in address_components:
            if 'administrative_area_level_1' in component['types']:
                return component['long_name']
        return location.address
    return None

In [176]:
city['state'] = city['city'].apply(get_state_from_city)

In [177]:
city.head()

,doctor,clinic,clinicMobile,location,address,kiosk,monthWiseCounts,diseaseWiseMonthCount,activeInLast7Days,city,state
0,chief dentist name,Your Clinic Name,+917840001315,,"Office 1102, Montvert Office Spaces, Opp to Na...",Test kiosk,"[{'month': 'October 2024', 'count': 221}, {'mo...","[{'month': 'October 2024', 'diseaseWiseCount':...",False,Pune,Maharashtra
1,chief dentist name,Your Clinic Name,+917840001315,,"Office 1102, Montvert Office Spaces, Opp to Na...",Kiosk,"[{'month': 'October 2024', 'count': 0}, {'mont...",[],False,Pune,Maharashtra
2,vidhi bhanushali,Dentaldost Office,7507242121,pune,"Baner ,Pune",test,"[{'month': 'October 2024', 'count': 2}, {'mont...","[{'month': 'October 2024', 'diseaseWiseCount':...",False,Pune,Maharashtra
3,dr. shashikiran nd,Krishna Institute of Dental Sciences,9630070092,karad,Karad,Kiosk-Karad,"[{'month': 'October 2024', 'count': 341}, {'mo...","[{'month': 'October 2024', 'diseaseWiseCount':...",False,Karad,Maharashtra
4,dr. mitul patel,Riddhi Dental Hospital,9157780000,navsari,Navsari,Kiosk-Navsari,"[{'month': 'October 2024', 'count': 0}, {'mont...",[],False,Navsari,Gujarat

In [178]:
city.drop(columns = ['address','location'], inplace=True)

In [179]:
city.head()

,doctor,clinic,clinicMobile,kiosk,monthWiseCounts,diseaseWiseMonthCount,activeInLast7Days,city,state
0,chief dentist name,Your Clinic Name,+917840001315,Test kiosk,"[{'month': 'October 2024', 'count': 221}, {'mo...","[{'month': 'October 2024', 'diseaseWiseCount':...",False,Pune,Maharashtra
1,chief dentist name,Your Clinic Name,+917840001315,Kiosk,"[{'month': 'October 2024', 'count': 0}, {'mont...",[],False,Pune,Maharashtra
2,vidhi bhanushali,Dentaldost Office,7507242121,test,"[{'month': 'October 2024', 'count': 2}, {'mont...","[{'month': 'October 2024', 'diseaseWiseCount':...",False,Pune,Maharashtra
3,dr. shashikiran nd,Krishna Institute of Dental Sciences,9630070092,Kiosk-Karad,"[{'month': 'October 2024', 'count': 341}, {'mo...","[{'month': 'October 2024', 'diseaseWiseCount':...",False,Karad,Maharashtra
4,dr. mitul patel,Riddhi Dental Hospital,9157780000,Kiosk-Navsari,"[{'month': 'October 2024', 'count': 0}, {'mont...",[],False,Navsari,Gujarat

In [180]:
city.columns

Index(['doctor', 'clinic', 'clinicMobile', 'kiosk', 'monthWiseCounts',
       'diseaseWiseMonthCount', 'activeInLast7Days', 'city', 'state'],
      dtype='object')

In [181]:
city = city[['diseaseWiseMonthCount','city','state']]

In [182]:
city.head()

                               diseaseWiseMonthCount     city        state
0  [{'month': 'October 2024', 'diseaseWiseCount':...     Pune  Maharashtra
1                                                 []     Pune  Maharashtra
2  [{'month': 'October 2024', 'diseaseWiseCount':...     Pune  Maharashtra
3  [{'month': 'October 2024', 'diseaseWiseCount':...    Karad  Maharashtra
4                                                 []  Navsari      Gujarat

In [183]:
city.head()

                               diseaseWiseMonthCount     city        state
0  [{'month': 'October 2024', 'diseaseWiseCount':...     Pune  Maharashtra
1                                                 []     Pune  Maharashtra
2  [{'month': 'October 2024', 'diseaseWiseCount':...     Pune  Maharashtra
3  [{'month': 'October 2024', 'diseaseWiseCount':...    Karad  Maharashtra
4                                                 []  Navsari      Gujarat

In [184]:
def extract_disease_keys(diseaseWiseMonthCount):
    keys = set()
    for entry in diseaseWiseMonthCount:
        if 'diseaseWiseCount' in entry:
            keys.update(entry['diseaseWiseCount'].keys())
    return list(keys) if keys else None

In [185]:
city['diseaseKeys'] = city['diseaseWiseMonthCount'].apply(extract_disease_keys)

<ipython-input-185-b48a4a0af0c3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city['diseaseKeys'] = city['diseaseWiseMonthCount'].apply(extract_disease_keys)

In [186]:
city.head()

,diseaseWiseMonthCount,city,state,diseaseKeys
0,"[{'month': 'October 2024', 'diseaseWiseCount':...",Pune,Maharashtra,"[RECEDED GUMS, DEEP CARIES, FILLING, PIT AND F..."
1,[],Pune,Maharashtra,None
2,"[{'month': 'October 2024', 'diseaseWiseCount':...",Pune,Maharashtra,"[DIASTEMA, STAINS, CALCULUS, FRACTURE]"
3,"[{'month': 'October 2024', 'diseaseWiseCount':...",Karad,Maharashtra,"[DEEP CARIES, FILLING, PIT AND FISSURE CARIES,..."
4,[],Navsari,Gujarat,None

In [187]:
city.isna().sum()

diseaseWiseMonthCount     0
city                      0
state                     3
diseaseKeys              59
dtype: int64

In [188]:
city.shape

(204, 4)

In [189]:
city.dropna(inplace=True)

In [190]:
city.isna().sum()

diseaseWiseMonthCount    0
city                     0
state                    0
diseaseKeys              0
dtype: int64

In [191]:
city.head()

,diseaseWiseMonthCount,city,state,diseaseKeys
0,"[{'month': 'October 2024', 'diseaseWiseCount':...",Pune,Maharashtra,"[RECEDED GUMS, DEEP CARIES, FILLING, PIT AND F..."
2,"[{'month': 'October 2024', 'diseaseWiseCount':...",Pune,Maharashtra,"[DIASTEMA, STAINS, CALCULUS, FRACTURE]"
3,"[{'month': 'October 2024', 'diseaseWiseCount':...",Karad,Maharashtra,"[DEEP CARIES, FILLING, PIT AND FISSURE CARIES,..."
5,"[{'month': 'October 2024', 'diseaseWiseCount':...",Rajamahendravaram,Andhra Pradesh,"[RECEDED GUMS, DEEP CARIES, FILLING, PIT AND F..."
6,"[{'month': 'September 2024', 'diseaseWiseCount...",Ahmedabad,Gujarat,"[DEEP CARIES, FILLING, PIT AND FISSURE CARIES,..."

In [192]:
city.columns

Index(['diseaseWiseMonthCount', 'city', 'state', 'diseaseKeys'], dtype='object')

In [193]:
extracted_values = []
for index, row in city.iterrows():
    try:
        for value in row['diseaseKeys']:
            extracted_values.append({
                'city': row['city'],
                'state': row['state'],
                'diseaseKey': value
            })
    except (TypeError, AttributeError):
        pass
extracted_df = pd.DataFrame(extracted_values)

In [194]:
city = pd.merge(city, extracted_df, on=['city', 'state'], how='left')
city.drop(columns = ['diseaseKeys'], inplace = True)

In [195]:
city.head()

,diseaseWiseMonthCount,city,state,diseaseKey
0,"[{'month': 'October 2024', 'diseaseWiseCount':...",Pune,Maharashtra,RECEDED GUMS
1,"[{'month': 'October 2024', 'diseaseWiseCount':...",Pune,Maharashtra,DEEP CARIES
2,"[{'month': 'October 2024', 'diseaseWiseCount':...",Pune,Maharashtra,FILLING
3,"[{'month': 'October 2024', 'diseaseWiseCount':...",Pune,Maharashtra,PIT AND FISSURE CARIES
4,"[{'month': 'October 2024', 'diseaseWiseCount':...",Pune,Maharashtra,STAINS

In [196]:
city.columns

Index(['diseaseWiseMonthCount', 'city', 'state', 'diseaseKey'], dtype='object')

In [197]:
city = city[['city', 'state', 'diseaseKey']]

In [198]:
city.head()

   city        state              diseaseKey
0  Pune  Maharashtra            RECEDED GUMS
1  Pune  Maharashtra             DEEP CARIES
2  Pune  Maharashtra                 FILLING
3  Pune  Maharashtra  PIT AND FISSURE CARIES
4  Pune  Maharashtra                  STAINS

In [204]:
city.drop_duplicates(inplace=True)

In [205]:
city.shape

(1456, 3)

In [206]:
city.to_csv('city_disease.csv', index = False)

# disease wise month

In [265]:
month = pd.read_json('/content/data.json')
month = pd.DataFrame(month)

In [266]:
month.columns

Index(['doctor', 'clinic', 'clinicMobile', 'location', 'address', 'kiosk',
       'monthWiseCounts', 'diseaseWiseMonthCount', 'activeInLast7Days'],
      dtype='object')

In [267]:
month = month[['diseaseWiseMonthCount','address','location']]

In [268]:
month.head()

,diseaseWiseMonthCount,address,location
0,"[{'month': 'October 2024', 'diseaseWiseCount':...","Office 1102, Montvert Office Spaces, Opp to Na...",
1,[],"Office 1102, Montvert Office Spaces, Opp to Na...",
2,"[{'month': 'October 2024', 'diseaseWiseCount':...","Baner ,Pune",pune
3,"[{'month': 'October 2024', 'diseaseWiseCount':...",Karad,karad
4,[],Navsari,navsari

In [269]:
def get_city_from_address(address):
    location = geolocator.geocode(address)
    if location:
        address_components = location.raw.get('address_components', [])
        for component in address_components:
            if 'locality' in component['types']:
                return component['long_name']
        return location.address
    else:
        return None

In [270]:
month['city'] = month['address'].apply(get_city_from_address)

In [271]:
month['city'].fillna(month['address'], inplace=True)

<ipython-input-271-988d4db98481>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  month['city'].fillna(month['address'], inplace=True)

In [272]:
def get_state_from_city(city):
    location = geolocator.geocode(city)
    if location:
        address_components = location.raw.get('address_components', [])
        for component in address_components:
            if 'administrative_area_level_1' in component['types']:
                return component['long_name']
        return location.address
    return None

In [273]:
month['state'] = month['city'].apply(get_state_from_city)

In [274]:
month.head()

,diseaseWiseMonthCount,address,location,city,state
0,"[{'month': 'October 2024', 'diseaseWiseCount':...","Office 1102, Montvert Office Spaces, Opp to Na...",,Pune,Maharashtra
1,[],"Office 1102, Montvert Office Spaces, Opp to Na...",,Pune,Maharashtra
2,"[{'month': 'October 2024', 'diseaseWiseCount':...","Baner ,Pune",pune,Pune,Maharashtra
3,"[{'month': 'October 2024', 'diseaseWiseCount':...",Karad,karad,Karad,Maharashtra
4,[],Navsari,navsari,Navsari,Gujarat

In [275]:
month = month[['diseaseWiseMonthCount','city','state']]

In [276]:
month.head()

                               diseaseWiseMonthCount     city        state
0  [{'month': 'October 2024', 'diseaseWiseCount':...     Pune  Maharashtra
1                                                 []     Pune  Maharashtra
2  [{'month': 'October 2024', 'diseaseWiseCount':...     Pune  Maharashtra
3  [{'month': 'October 2024', 'diseaseWiseCount':...    Karad  Maharashtra
4                                                 []  Navsari      Gujarat