In [272]:
import pandas as pd

In [273]:
data = pd.read_json('data.json')
df = pd.DataFrame(data)

In [274]:
#df.to_csv('data.csv', index = False)

In [275]:
df.columns

Index(['doctor', 'clinic', 'clinicMobile', 'location', 'address', 'kiosk',
       'monthWiseCounts', 'diseaseWiseMonthCount', 'activeInLast7Days'],
      dtype='object')

In [276]:
df = df.drop(columns = ['doctor', 'clinic', 'clinicMobile', 'kiosk','activeInLast7Days'])

In [277]:
df['monthWiseCounts'].head(5)

0    [{'month': 'October 2024', 'count': 221}, {'mo...
1    [{'month': 'October 2024', 'count': 0}, {'mont...
2    [{'month': 'October 2024', 'count': 2}, {'mont...
3    [{'month': 'October 2024', 'count': 341}, {'mo...
4    [{'month': 'October 2024', 'count': 0}, {'mont...
Name: monthWiseCounts, dtype: object

In [278]:
month_wise_counts = pd.DataFrame(df['monthWiseCounts'].to_list(), columns = ['oct_month','sep_month','aug_month'])

In [279]:
month_wise_counts.isna().sum()

oct_month    0
sep_month    0
aug_month    0
dtype: int64

In [280]:
month_wise_counts = pd.DataFrame(month_wise_counts)

In [281]:
month_wise_counts.head(10)

,oct_month,sep_month,aug_month
0,"{'month': 'October 2024', 'count': 221}","{'month': 'September 2024', 'count': 265}","{'month': 'August 2024', 'count': 361}"
1,"{'month': 'October 2024', 'count': 0}","{'month': 'September 2024', 'count': 0}","{'month': 'August 2024', 'count': 0}"
2,"{'month': 'October 2024', 'count': 2}","{'month': 'September 2024', 'count': 0}","{'month': 'August 2024', 'count': 0}"
3,"{'month': 'October 2024', 'count': 341}","{'month': 'September 2024', 'count': 592}","{'month': 'August 2024', 'count': 328}"
4,"{'month': 'October 2024', 'count': 0}","{'month': 'September 2024', 'count': 0}","{'month': 'August 2024', 'count': 0}"
5,"{'month': 'October 2024', 'count': 86}","{'month': 'September 2024', 'count': 60}","{'month': 'August 2024', 'count': 26}"
6,"{'month': 'October 2024', 'count': 0}","{'month': 'September 2024', 'count': 16}","{'month': 'August 2024', 'count': 44}"
7,"{'month': 'October 2024', 'count': 278}","{'month': 'September 2024', 'count': 224}","{'month': 'August 2024', 'count': 155}"
8,"{'month': 'October 2024', 'count': 24}","{'month': 'September 2024', 'count': 88}","{'month': 'August 2024', 'count': 0}"
9,"{'month': 'October 2024', 'count': 0}","{'month': 'September 2024', 'count': 0}","{'month': 'August 2024', 'count': 0}"

In [282]:
df.head()

,location,address,monthWiseCounts,diseaseWiseMonthCount
0,,"Office 1102, Montvert Office Spaces, Opp to Na...","[{'month': 'October 2024', 'count': 221}, {'mo...","[{'month': 'October 2024', 'diseaseWiseCount':..."
1,,"Office 1102, Montvert Office Spaces, Opp to Na...","[{'month': 'October 2024', 'count': 0}, {'mont...",[]
2,pune,"Baner ,Pune","[{'month': 'October 2024', 'count': 2}, {'mont...","[{'month': 'October 2024', 'diseaseWiseCount':..."
3,karad,Karad,"[{'month': 'October 2024', 'count': 341}, {'mo...","[{'month': 'October 2024', 'diseaseWiseCount':..."
4,navsari,Navsari,"[{'month': 'October 2024', 'count': 0}, {'mont...",[]

In [283]:
df = pd.concat([df, month_wise_counts], axis=1)
df = df.drop(columns=["monthWiseCounts"])

In [284]:
df.head()

,location,address,diseaseWiseMonthCount,oct_month,sep_month,aug_month
0,,"Office 1102, Montvert Office Spaces, Opp to Na...","[{'month': 'October 2024', 'diseaseWiseCount':...","{'month': 'October 2024', 'count': 221}","{'month': 'September 2024', 'count': 265}","{'month': 'August 2024', 'count': 361}"
1,,"Office 1102, Montvert Office Spaces, Opp to Na...",[],"{'month': 'October 2024', 'count': 0}","{'month': 'September 2024', 'count': 0}","{'month': 'August 2024', 'count': 0}"
2,pune,"Baner ,Pune","[{'month': 'October 2024', 'diseaseWiseCount':...","{'month': 'October 2024', 'count': 2}","{'month': 'September 2024', 'count': 0}","{'month': 'August 2024', 'count': 0}"
3,karad,Karad,"[{'month': 'October 2024', 'diseaseWiseCount':...","{'month': 'October 2024', 'count': 341}","{'month': 'September 2024', 'count': 592}","{'month': 'August 2024', 'count': 328}"
4,navsari,Navsari,[],"{'month': 'October 2024', 'count': 0}","{'month': 'September 2024', 'count': 0}","{'month': 'August 2024', 'count': 0}"

In [285]:
df['oct_month'].head()

0    {'month': 'October 2024', 'count': 221}
1      {'month': 'October 2024', 'count': 0}
2      {'month': 'October 2024', 'count': 2}
3    {'month': 'October 2024', 'count': 341}
4      {'month': 'October 2024', 'count': 0}
Name: oct_month, dtype: object

In [291]:
oct_month = pd.DataFrame(df['oct_month'].values().to_list(), columns = ['monthwise_oct_month','oct_counts'])

TypeError: 'numpy.ndarray' object is not callable

In [287]:
oct_months = pd.DataFrame(oct_month)

In [288]:
df = pd.concat([df, oct_months], axis = 1)
df.drop(columns= 'oct_month')

,location,address,diseaseWiseMonthCount,sep_month,aug_month,monthwise_oct_month,oct_counts
0,,"Office 1102, Montvert Office Spaces, Opp to Na...","[{'month': 'October 2024', 'diseaseWiseCount':...","{'month': 'September 2024', 'count': 265}","{'month': 'August 2024', 'count': 361}",NaN,NaN
1,,"Office 1102, Montvert Office Spaces, Opp to Na...",[],"{'month': 'September 2024', 'count': 0}","{'month': 'August 2024', 'count': 0}",NaN,NaN
2,pune,"Baner ,Pune","[{'month': 'October 2024', 'diseaseWiseCount':...","{'month': 'September 2024', 'count': 0}","{'month': 'August 2024', 'count': 0}",NaN,NaN
3,karad,Karad,"[{'month': 'October 2024', 'diseaseWiseCount':...","{'month': 'September 2024', 'count': 592}","{'month': 'August 2024', 'count': 328}",NaN,NaN
4,navsari,Navsari,[],"{'month': 'September 2024', 'count': 0}","{'month': 'August 2024', 'count': 0}",NaN,NaN
...,...,...,...,...,...,...,...
199,,"Care Dental Clinic,No :4, New Avadi Rd, Villiv...",[],"{'month': 'September 2024', 'count': 0}","{'month': 'August 2024', 'count': 0}",NaN,NaN
200,,"Narayanappa Complex, Begur-Hulimavu Road, DLF ...",[],"{'month': 'September 2024', 'count': 0}","{'month': 'August 2024', 'count': 0}",NaN,NaN
201,,"Tumkur, Karnataka",[],"{'month': 'September 2024', 'count': 0}","{'month': 'August 2024', 'count': 0}",NaN,NaN
202,,"Dr Dhruv`s Superspeciality Dental Hospital, Sh...",[],"{'month': 'September 2024', 'count': 0}","{'month': 'August 2024', 'count': 0}",NaN,NaN
203,bengaluru,"Dental Diagnostic Centre, Bengaluru, Karnataka",[],"{'month': 'September 2024', 'count': 0}","{'month': 'August 2024', 'count': 0}",NaN,NaN

In [289]:
df.head()

,location,address,diseaseWiseMonthCount,oct_month,sep_month,aug_month,monthwise_oct_month,oct_counts
0,,"Office 1102, Montvert Office Spaces, Opp to Na...","[{'month': 'October 2024', 'diseaseWiseCount':...","{'month': 'October 2024', 'count': 221}","{'month': 'September 2024', 'count': 265}","{'month': 'August 2024', 'count': 361}",NaN,NaN
1,,"Office 1102, Montvert Office Spaces, Opp to Na...",[],"{'month': 'October 2024', 'count': 0}","{'month': 'September 2024', 'count': 0}","{'month': 'August 2024', 'count': 0}",NaN,NaN
2,pune,"Baner ,Pune","[{'month': 'October 2024', 'diseaseWiseCount':...","{'month': 'October 2024', 'count': 2}","{'month': 'September 2024', 'count': 0}","{'month': 'August 2024', 'count': 0}",NaN,NaN
3,karad,Karad,"[{'month': 'October 2024', 'diseaseWiseCount':...","{'month': 'October 2024', 'count': 341}","{'month': 'September 2024', 'count': 592}","{'month': 'August 2024', 'count': 328}",NaN,NaN
4,navsari,Navsari,[],"{'month': 'October 2024', 'count': 0}","{'month': 'September 2024', 'count': 0}","{'month': 'August 2024', 'count': 0}",NaN,NaN

In [189]:
df.isna().sum()

location                 0
address                  0
diseaseWiseMonthCount    0
oct_month                0
sep_month                0
aug_month                0
dtype: int64

In [190]:
df.head()

,location,address,diseaseWiseMonthCount,oct_month,sep_month,aug_month
0,,"Office 1102, Montvert Office Spaces, Opp to Na...","[{'month': 'October 2024', 'diseaseWiseCount':...","{'month': 'October 2024', 'count': 221}","{'month': 'September 2024', 'count': 265}","{'month': 'August 2024', 'count': 361}"
1,,"Office 1102, Montvert Office Spaces, Opp to Na...",[],"{'month': 'October 2024', 'count': 0}","{'month': 'September 2024', 'count': 0}","{'month': 'August 2024', 'count': 0}"
2,pune,"Baner ,Pune","[{'month': 'October 2024', 'diseaseWiseCount':...","{'month': 'October 2024', 'count': 2}","{'month': 'September 2024', 'count': 0}","{'month': 'August 2024', 'count': 0}"
3,karad,Karad,"[{'month': 'October 2024', 'diseaseWiseCount':...","{'month': 'October 2024', 'count': 341}","{'month': 'September 2024', 'count': 592}","{'month': 'August 2024', 'count': 328}"
4,navsari,Navsari,[],"{'month': 'October 2024', 'count': 0}","{'month': 'September 2024', 'count': 0}","{'month': 'August 2024', 'count': 0}"

In [ ]:
month_sep = pd.DataFrame(df['oct_month']

In [116]:
df['address'].nunique()

172

In [117]:
df.head()

,doctor,clinic,clinicMobile,location,address,kiosk,monthWiseCounts,diseaseWiseMonthCount,activeInLast7Days
0,chief dentist name,Your Clinic Name,+917840001315,,"Office 1102, Montvert Office Spaces, Opp to Na...",Test kiosk,"[{'month': 'October 2024', 'count': 221}, {'mo...","[{'month': 'October 2024', 'diseaseWiseCount':...",False
1,chief dentist name,Your Clinic Name,+917840001315,,"Office 1102, Montvert Office Spaces, Opp to Na...",Kiosk,"[{'month': 'October 2024', 'count': 0}, {'mont...",[],False
2,vidhi bhanushali,Dentaldost Office,7507242121,pune,"Baner ,Pune",test,"[{'month': 'October 2024', 'count': 2}, {'mont...","[{'month': 'October 2024', 'diseaseWiseCount':...",False
3,dr. shashikiran nd,Krishna Institute of Dental Sciences,9630070092,karad,Karad,Kiosk-Karad,"[{'month': 'October 2024', 'count': 341}, {'mo...","[{'month': 'October 2024', 'diseaseWiseCount':...",False
4,dr. mitul patel,Riddhi Dental Hospital,9157780000,navsari,Navsari,Kiosk-Navsari,"[{'month': 'October 2024', 'count': 0}, {'mont...",[],False

In [118]:
df.columns

Index(['doctor', 'clinic', 'clinicMobile', 'location', 'address', 'kiosk',
       'monthWiseCounts', 'diseaseWiseMonthCount', 'activeInLast7Days'],
      dtype='object')

In [119]:
df['location'].unique()

array(['', 'pune', 'karad', 'navsari', 'tiruvannamalai', 'vizianagram',
       'secunderabad', 'trivandrum', 'guwahati', 'siddipet', 'imphal',
       'dhamtari', 'nagpur', 'kochi', 'surat', 'hyderabad', 'thanjavur',
       'pondicherry', 'kalyana mandabam', 'dubai', 'srinagar',
       'ghaziabad', 'bengaluru'], dtype=object)

In [120]:
df['address'].isna().sum()

0

In [121]:
df = df.map(lambda x:x.lower() if isinstance(x,str) else x)

In [ ]:
def remove_phn_initials(clinicMobile):
    for phn in df['clinic

In [122]:
def match_and_convert(address, location):
    for address in df['address']:
        for location in df['location']:
            if address in df['location']:
                df['address'] = address
                break
        return address

In [123]:
df['location'] = match_and_convert(df['address'],df['location'])

In [124]:
df['location']

0      office 1102, montvert office spaces, opp to na...
1      office 1102, montvert office spaces, opp to na...
2      office 1102, montvert office spaces, opp to na...
3      office 1102, montvert office spaces, opp to na...
4      office 1102, montvert office spaces, opp to na...
                             ...
199    office 1102, montvert office spaces, opp to na...
200    office 1102, montvert office spaces, opp to na...
201    office 1102, montvert office spaces, opp to na...
202    office 1102, montvert office spaces, opp to na...
203    office 1102, montvert office spaces, opp to na...
Name: location, Length: 204, dtype: object

In [125]:
df['address'].nunique()

172

In [72]:
df.head()

,doctor,clinic,clinicMobile,location,address,kiosk,monthWiseCounts,diseaseWiseMonthCount,activeInLast7Days
0,chief dentist name,your clinic name,+917840001315,,bengaluru,test kiosk,"[{'month': 'October 2024', 'count': 221}, {'mo...","[{'month': 'October 2024', 'diseaseWiseCount':...",False
1,chief dentist name,your clinic name,+917840001315,,bengaluru,kiosk,"[{'month': 'October 2024', 'count': 0}, {'mont...",[],False
2,vidhi bhanushali,dentaldost office,7507242121,pune,bengaluru,test,"[{'month': 'October 2024', 'count': 2}, {'mont...","[{'month': 'October 2024', 'diseaseWiseCount':...",False
3,dr. shashikiran nd,krishna institute of dental sciences,9630070092,karad,bengaluru,kiosk-karad,"[{'month': 'October 2024', 'count': 341}, {'mo...","[{'month': 'October 2024', 'diseaseWiseCount':...",False
4,dr. mitul patel,riddhi dental hospital,9157780000,navsari,bengaluru,kiosk-navsari,"[{'month': 'October 2024', 'count': 0}, {'mont...",[],False